@media screen and (min-width: 350px) and (max-width: 410px) {
  main {
    padding: 1.2rem;
    min-height: 75vh;
    min-width: 95vw;
    border-radius: 4rem;
    box-shadow: -6px -6px 9px #fff, 3px 3px 6px rgba(0, 0, 0, 0.35);
    input {
      height: 8rem;
    }
  }
  .key {
    gap: 2.3rem;
    margin: 3rem auto;
  }
  .display {
    top: 4%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 349px) {
  main {
    padding: 0;
    min-width: 95vw;
    min-height: 90vh;
    input {
      width: 100%;
      margin-top: 0.3rem;
      font-size: 1.75rem;
    }
  }
  .key {
    margin: 5%;
    column-gap: 0.75rem;
    grid-gap: 1rem;
    margin-top: 1.5rem;
    button {
      width: 3rem;
      height: 3rem;
      font-size: 1.6rem;
    }
  }
}
