@media screen and (max-width: 480px) and (min-height: 640px) {
  html {
    font-size: 56.5%;
  }
  main input {
    height: 7rem;
  }
  .key {
    grid-gap: 3rem;
    margin: 3rem 0.5rem;
  }
  .input_number {
    width: 100%;
  }
}
@media screen and (max-width: 320px) and (max-height: 569px) {
  html {
    font-size: 53.5%;
  }
  main {
    width: 95vw;
  }
  .key {
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 240px) {
  html {
    font-size: 41.5%;
  }
  .key {
    grid-gap: 1.3rem;
  }
}
